* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
  }
  
  header, footer {
    padding: 10px;
    text-align: center;
  }
  
/* MENU, esto se replica en todas las hojas pero no se porque se ve diferente en las distintas paginas*/
nav {
    background-color: #7C2D12 ; /*color de fondo*/
    text-align: center; /*centra horizontalmente*/
    align-items: center; /*centra verticalmente*/
    padding: 10px ; /*para que no este pegado al borde el textp*/
    border-radius: 10px; /*para redondear el menú*/
  }
    
    nav ul {
      list-style: none;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    
    nav ul li {
      margin: 0 15px;
    }
    
    nav ul li a {
      color: white;
      text-decoration: none;
      font-weight: bold;
    }
    
    nav ul li a:hover {
      text-decoration: underline;
    }  
  
  /*Encabezados*/
  header h1 {
        padding: 10px ; /*para que no este pegado al borde el textp*/
     border-radius: 10px; /*para redondear el menú*/
      text-align: center;
      margin-bottom: 10px;
      color: #7C2D12;
      background-color: #f6e0e0cf;
    }
    
    h2, h3 {
      color: #7C2D12;
      margin: 20px 0 10px;
    }
/* CSS Grid*/
  main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding: 20px;
  }
  
  section {
    background-color: #f6e0e0cf;
    padding: 15px;
    border-radius: 8px;
  }
  
  #fechas {
    grid-column: 1;
    grid-row: 1;
  }
  
  #bibliografia {
    grid-column: 1;
    grid-row: 2;
  }
  
  #actividades {
    grid-column: 2;
    grid-row: 1 / span 2;
  }
  
  footer {
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    background-color: #7C2D12 ; /*color de fondo*/
    color: #f6e0e0cf;
    border-radius: 10px; /*para redondear el menú*/
  }
  

/* parte responsive, replicar en todas las hojas*/
@media (max-width: 768px) {
    nav ul {
      flex-direction: column;
      align-items: center;
    }
  
    table, form {
      width: 100%;
    }
  }
  